
body {
  background: #000;
  font-family: sans-serif;
  color: #ffffff;
  width:100%;
}
p {
  text-align: center;
  padding: 1em;
}
.text-labels {
text-transform: uppercase;
font-family: sans-serif;
}
.text-value {
  font-family: sans-serif;
  font-size: 12px;
  fill: #333;
}
#data-container{
  width: 1200px;
  margin: 0 auto;
}